.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    margin: 20px 20px;
}

.home-title {
    font-size: 24px;
    margin-left: 20px;
}

.card-link {
    color: inherit;
    text-decoration: inherit;
}

@media screen and (min-width: 768px) {
    .grid {
        margin: 20px 100px;
    }
    .home-title {
        margin-left: 100px;
    }
}
