.post-content {
    max-width: 768px;
    margin: 10px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .post-title {
        font-size: 24px;
    }
}

@media screen and (min-width: 768px) {
    .post-content {
        margin: 10px auto;
    }
}